.main {
  background-image: url('/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .layout {
    .left {
      width: 466px;
      padding: 23px 28px;
    }
    .center {
    }
    .right {
      width: 354px;
    }
  }
}
