.user-area {
  width: 410px;
  height: 158px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.6);
  padding-left: 25px;
  padding-right: 33px;

  .avatar {
    width: 68px;
    height: 68px;
    border-radius: 34px;
    background-color: black;
  }

  .username {
    color: black;
    margin-left: 15px;
  }

  .btn {
    width: 40px;
    height: 40px;
    line-height: 20px;
    font-size: 12px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
  }
}
