.characterInfo {
  padding: 0 26px;

  .menu-btn {
    width: 55px;
    height: 44px;
    top: 13px;
    right: 26px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    background-image: url('/imgs/menu.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .name {
    height: 36px;
    box-sizing: content-box;
    padding-top: 29px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
  }

  .desc {
    height: 60px;
    margin-top: 18px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
  }

  .op {
    margin-top: 25px;

    .btn {
      width: 72px;
      height: 44px;
      border-radius: 20px;
      background: rgba(0, 0, 0, 0.43);
      color: rgba(255, 255, 255, 1);
      font-family: Inter;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: 0.01em;
      text-align: center;
    }
  }
}
