.lockPanelDialog {
  top: 42px;
  // -width - 14
  right: calc(-57px - 14px);
  width: 57px;
  height: 44px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;

  &.lock {
    background-color: rgba(255, 255, 255, 0.32);
    background-image: url('/imgs/unlocked.png');
  }
  &.unlock {
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url('/imgs/locked.png');
  }
}
