.characters {
  border-radius: 16px;
  border: 2px solid #2c2c2c;
  box-shadow: 0px 4px 24px 0px #00000040;

  .mainRight {
    border-left: solid 1px rgb(31, 32, 34);

    .overview {
    }

    .tabs {
    }

    .list {
    }
  }
}
