.characterInfo {
  padding: 0 26px;
  color: rgba(255, 255, 255, 1);

  .name {
    height: 36px;
    box-sizing: content-box;
    padding-top: 29px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
  }

  .editFlag {
    margin-top: 29px;
    width: 32px;
    height: 32px;
    background-image: url('/imgs/edit2.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}
