.selectPrompt {
  border-radius: 16px;
  border: 2px solid #242424;
  box-shadow: 0px 4px 24px 0px #00000040;
  background: #121315;
  background-image: url('/imgs/bg.png');
  padding: 0 30px;

  .btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
  }
}
