.ld {
  .back {
    width: 55px;
    height: 44px;
    top: 46px;
    left: 54px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.21);
    background-image: url('/imgs/back.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .life-img {
    height: 611px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    img {
      object-fit: cover;
    }
  }

  .life-detail {
    top: 349px;
    transition: all 0.3s;

    &.full {
      top: 0px;

      .info {
        height: calc(263px + 105px);
        padding-top: 105px;
      }
    }

    .info {
      border-radius: 40px;
      background: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8px);

      height: 263px;
    }

    .tabs {
      background-color: white;
      border-radius: 40px;
      margin-top: -40px;
    }
  }
}
