.backBtn {
  width: 34px;
  min-width: 34px !important;
  height: 34px !important;
  top: 20px;
  left: 20px;
  border-radius: 8px !important;
  padding: 12px !important;
  position: absolute !important;
}
