.characterDetailEditAvatarView {
  .addBtn {
    width: 34px !important;
    min-width: unset !important;
  }

  .bigBtn {
    width: 78px !important;
    min-width: unset !important;
  }

  .container {
    .content {
    }
  }
}
