.characterDetailEditAvatarView {
  .rectBtn {
    width: 34px !important;
    min-width: unset !important;
  }

  .settingBg {
    background-image: url('/imgs/setting3.png');
  }

  .bigBtn {
    width: 78px !important;
    min-width: unset !important;
  }

  .container {
    .content {
    }
  }
}
